h1 {
    font-size: 2em;
    line-height: 2.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 2.0em;
}

h3 {
    font-size: 1.2em;
    line-height: 2.0em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    text-decoration: underline;
    line-height: 1.2em;
}

p {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 10px;
}

li {
    line-height: 1.2em;
    list-style: initial;
}


body {
    font-size: 0.8em;
    padding: 5px;
    max-width: 800px;
    text-align: justify;
    color: #333;
}

#title {
    font-size: 70%;
    opacity: 70%;
}

hr {
    border: none;
    height: 1px;
    background-color: #555;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: initial;
    margin-left: 20px;
    margin-bottom: 10px;
}

.occupation-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.occupation-content {
    margin-bottom: 15px;
}

.occupation-content > ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 40px;
}
